New_Project/
QuPath-v0.5.1-Linux
Stardist_training_sample.py
slides_from_stardist.pdf
.ipynb_checkpoints/
TMA/
Untitled.ipynb
image_prediction/
randomly_selected_TMA_cores/
split_tma-cores/
tma-paccs/
All_models_generated/
Animation.gif
ScreenToGif.2.41.Setup.x64.msi
fiji-win64/
first_training.zip
first_training/
second_training/